* {
	border: 0;
	margin: 0;
	padding: 0;
	outline: none;
}

/*-----------------------GENERAL CSS-----------------------*/

ul {
	list-style: none;
}

a {
	text-decoration: none;
}

#principal {
	background-color: hsl(0, 0%, 93%);
}

/*-------------------320px--------------------*/

@media all and (min-width: 320px) {

	.header {
		width: 100%;
		background-color: hsl(0, 0, 95%);
		display: flex; flex-direction: column; justify-content: center; align-items: center;
		box-shadow: 0em 0.1em 0.1em 0em;
	}

	.logo-container {
		width: 100%;
		display: flex; flex-direction: row; justify-content: center; align-items: center;
		padding-top: 1em;
		margin-bottom: 1em;
	}

	.logo-fig {
		width: 10%;
		display: flex; flex-direction: column; justify-content: center; align-items: center;
		margin-right: 0.2em;
	}

	.logo-fig img {
		width: 100%;
	}

	.title {
		vertical-align: top;
		font-family: 'Courgette', cursive;
	}

	.menu-container {
		width: 100%;
		display: flex; flex-direction: column; justify-content: center; align-items: center;
	}

	.user-container {
		width: 100%;
		display: flex; flex-direction: row; justify-content: center; align-items: center;
		padding-bottom: 0.5em;
	}

	.user-fig {
		width: 20%;
		margin-right: 0.5em;
	}

	.user-fig img {
		width: 100%;
	}

	.user-section {
		width: 30%;
		display: flex; flex-direction: column; justify-content: center; align-items: left;
		margin-left: 0.5em;
	}

	.greeting {
		font-size: 0.8em;
		font-family: 'Open Sans', sans-serif;
	}

	.username {
		font-size: 1em;
		font-family: 'Playfair Display', serif;
	}

	.navigation {
		width: 100%;
		display: flex; flex-direction: column; justify-content: center; align-items: center;
		padding-bottom: 0.5em;
	}

	.shadow-line {
		height: 0.5em;
		width: 100%;
		box-shadow: 0em 0.1em 0.1em 0em;
	}

	.btn-list {
		width: 100%;
		display: flex; flex-direction: row; justify-content: space-evenly; align-items: center;
	}

	.btn-list li {
		width: fit-content;
	}

	.btn {
		width: 6em;
		text-align: center;
		font-size: 0.8em;
		padding: 0.5em;
		border-radius: 2em;
		background-color: cadetblue;
		box-shadow: 0em 0.2em 0.2em 0em;
	}

	#principal {
		width: 100%;
		min-height: 60vh;
		display: flex; flex-direction: column; justify-content: center; align-items: center;
	}

	#content {
		width: 100%;
		display: flex; flex-direction: column; justify-content: center; align-items: center;
		padding-top: 1.5em;
		padding-bottom: 1.5em;
	}

	#new-book-form {
		width: 90%;
		display: flex; flex-direction: column; justify-content: center; align-items: center;
		background-color: white;
		font-family: 'Open Sans', sans-serif;
		font-size: 0.8em;
		padding-top: 1em;
		padding-bottom: 1em;
		border-radius: 1em;
		box-shadow: 0em 0.2em 0.2em 0em;
		display: none;
	}

	.form-divs {
		width: 90%;
		display: flex; flex-direction: column; justify-content: center; align-items: left;
		margin-bottom: 1em;
	}

	.form-divs label {
		margin-bottom: 0.2em;
	}

	.check-div {
		flex-direction: row; justify-content: left; align-items: center;
	}

	.check-div label {
		padding-right: 0.3em;
	}

	.form-divs input {
		background-color: lightgray;
		padding: 0.3em;
		border-radius: 1em;
	}

	.submit-section {
		width: 95%;
		display: flex; flex-direction: column; justify-content: center; align-items: center;
	}

	#submit-book-btn {
		width: 7em;
		padding-top: 0.5em;
		padding-bottom: 0.5em;
		border-radius: 1em;
		box-shadow: 0em 0.2em 0.2em 0em;
		background-color: cadetblue;
	}

	#submit-book-btn:active, .btn:active {
		box-shadow: 0 0 0 0;
		transform: translateY(0.2em);
	}

	.library-container {
		width: 90%;
		display: flex; flex-direction: column; justify-content: center; align-items: center;
		background-color: lightsteelblue;
		border-radius: 1em;
		box-shadow: 0 0.2em 0.1em 0em;
		/* padding-top: 1em;
		padding-bottom: 0.5em; */
		margin-bottom: 1.5em;
	}

	#my-library {
		width: 95%;
		display: flex; flex-direction: column; justify-content: center; align-items: center;
	}

	.book-box {
		width: 90%;
		display: flex; flex-direction: column; justify-content: center; align-items: center;
		background-color: white;
		border-radius: 0.5em;
		box-shadow: 0em 0.2em 0.2em 0em;
		padding: 0.5em;
		margin-top: 1em;
		margin-bottom: 1em;
	}

	.book-title {
		font-family: 'Playfair Display', serif;
		text-align: center;
		font-size: 1em;
		margin-bottom: 0.5em;
	}

	.book-author {
		font-family: 'Courgette', cursive;
		font-style: italic;
		font-size: 0.9em;
		margin-bottom: 0.5em;
	}

	.box-body {
		font-family: 'Open Sans', sans-serif;
		font-size: 0.8em;
	}

	.box-header, .box-body {
		width: 100%;
		display: flex; flex-direction: column; justify-content: center; align-items: center;
	}

	.toggle-read-btn {
		width: 90%;
		height: 1.5em;
		background-color: gold;
		border-radius: 2em;
		margin-top: 0.5em;
		margin-bottom: 0.5em;
		box-shadow: 0em 0.2em 0.2em 0em;
		font-size: 0.9em;
	}

	.remove-btn {
		width: 90%;
		height: 1.5em;
		background-color: cadetblue;
		border-radius: 2em;
		margin-top: 1em;
		margin-bottom: 0.5em;
		box-shadow: 0em 0.2em 0.2em 0em;
		font-size: 0.9em;
	}

	.remove-btn:active, .toggle-read-btn:active {
		transform: translateY(0.2em);
	}

	.footer {
		width: 100%;
		display: flex; flex-direction: column; justify-content: center; align-items: center;
		padding-top: 0.5em;
		padding-bottom: 0.5em;
		box-shadow: 0em -0.1em 0.1em 0em;
		font-family: 'Open Sans', sans-serif;
		font-size: 0.8em;
	}

	.github-span {
		display: flex; flex-direction: row; justify-content: center; align-items: center;
	}

	.github-span {
		width: 35%;
	}

	.github-span, .icons-p {
		width: 100%;
		text-align: center;
		margin-bottom: 0.3em
	}

	.github-link {
		width: min-content;
		display: flex; flex-direction: row; justify-content: center; align-items: center;
		padding-left: 0.7em;
		font-family: 'Playfair Display', serif;
	}

	.github-icon {
		width: 20%;
		padding-bottom: 0.2em;
		padding-left: 0.2em;
	}

	.github-icon:hover {
		transform: rotate(720deg);
		transition: 0.5s;
	}

	.link {
		color: goldenrod;
	}

	.link:hover, link:focus {
		color: rgb(148, 112, 22);
	}

}
/*----------------END: 320px------------------*/

/*-------------------480px--------------------*/

@media all and (min-width: 480px) {

#new-book-form, .library-container {
	width: 70%;
}

.book-box {
	width: 80%;
}

}

/*----------------END: 480px------------------*/

/*-------------------576px--------------------*/

@media all and (min-width: 576px) {

	#new-book-form, .library-container {
		width: 60%;
	}
	
	}
	
	/*----------------END: 576px------------------*/

/*-------------------768px--------------------*/

@media all and (min-width: 768px) {

#principal {
	padding-top: 1em;
	padding-bottom: 1em;
}

.logo-container {
	width: 90%;
	justify-content: right;
}

.menu-container {
	flex-direction: row;
	justify-content: space-between;
}

.user-container {
	padding-bottom: 0em;
}

.navigation {
	padding-bottom: 0em;
}

#new-book-form {
	width: 45%;
	padding-top: 1.5em;
	padding-bottom: 1.5em;
}

.library-container {
	width: 80%;
}

#my-library {
	width: 100%;
	flex-direction: row; justify-content: space-evenly;
	flex-wrap: wrap;
}

.book-box {
	width: 40%;
	margin-bottom: 1em;
}

}

/*----------------END: 768px------------------*/

/*-------------------960px--------------------*/

@media all and (min-width: 960px) {

	.btn-list {
		width: 75%;
	}

	.btn {
		height: 2em;
	}

	#new-book-form {
		width: 41%;
	}

	.library-container {
		width: 70%;
	}

	.book-box {
		width: 35%;
	}

}

/*----------------END: 960px------------------*/

/*-------------------1024px-------------------*/

@media all and (min-width: 1024px) {

	#new-book-form {
		width: 40%;
	}

	.library-container {
		width: 85%;
	}

	.book-box {
		width: 27%;
	}
	
}

/*----------------END: 1024px-----------------*/

/*-------------------1200px-------------------*/

@media all and (min-width: 1200px) {

	#new-book-form {
		width: 35%;
	}

	.library-container {
		width: 90%;
	}

	.book-box {
		width: 20%;
	}
	
}

/*----------------END: 1200px-----------------*/

/*-------------------1366px-------------------*/

@media all and (min-width: 1366px) {

.logo-fig {
	width: 5%;
}

.btn {
	width: 8em;
}

.user-fig {
	width: 10%;
}

#new-book-form {
	width: 30%;
}

.book-box {
	width: 17%;
}

}

/*----------------END: 1366px-----------------*/